<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsp.test.StudentMapper">
	<!--  
	<resultMap id="studentResultMap" type="StudentEntity">
		<id property="studentID" column="STUDENT_ID" />
		<result property="studentName" column="STUDENT_NAME" />
		<result property="studentSex" column="STUDENT_SEX" />
		<result property="studentBirthday" column="STUDENT_BIRTHDAY" />
		<result property="classId" column="class_id"/>
	</resultMap>
	-->
	
	<!--  
	<cache eviction="FIFO" flushInterval="60000" size="512" type="" ></cache>
	-->
	
	
	<resultMap type="StudentEntity" id="studentResultMap">
		<constructor>
			<idArg column="STUDENT_ID" javaType="String"/>
			<arg column="STUDENT_NAME" javaType="String"/>
			<arg column="STUDENT_SEX" javaType="String"/>
			<arg column="STUDENT_BIRTHDAY" javaType="Date"/>
		</constructor>
	</resultMap>
	
	
	<!-- 查询学生，根据id -->
	<select id="getStudent" parameterType="String" resultType="StudentEntity"
		resultMap="studentResultMap">  
        <![CDATA[ 
            SELECT * from STUDENT_TBL ST 
                WHERE ST.STUDENT_ID = #{studentID}  
        ]]>
	</select>

	<!-- 查询学生列表 -->
	<select id="getStudentAll" resultType="com.nsp.test.StudentEntity"
		resultMap="studentResultMap">  
        <![CDATA[ 
            SELECT * from STUDENT_TBL 
        ]]>
	</select>

</mapper> 